/**
 * GLOBAL
 * -----------------------------------------------------------------------------
 */
* {
    box-sizing: border-box;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
html {
    font-size: 16px;
}
body {
    background: #DADFE1;
    color: #41464c;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: normal;
    height: auto;
    line-height: 1.4;
    overflow-x: hidden;
    max-width: 100%;
    /**/
    -webkit-font-smoothing: antialiased;
}

p.bg-info {
    padding: 15px;
}

.spacing {
    display: block;
    height: 50px;
    padding: 5px 0;
}

.spacing-lg {
    display: block;
    height: 100px;
    padding: 10px 0;
}

.btn-lg-max {
    width: 100%;
    padding: 15px;
}

.btn {
    transition: all 0.5s ease-in-out;
}

.btn-custom-light {
    background-color: #00B16A;
    border-color: #03A678;
}

.btn-custom-light:hover,
.btn-custom-light:focus {
    color: #fff;
    background-color: #03A678;
}

.btn-custom-dark {
    background-color: #1A2229;
    border-color: #000;
    color: #fff;
}

.btn-custom-dark:hover,
.btn-custom-dark:focus {
    color: #fff;
    background-color: #1C1C25;
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    border-radius: 2px;
}

.badge {
    font-weight: 300;
}

.badge.badge-warning {
    color: #fff;
    background-color: #f0ad4e;
}

.badge.badge-danger {
    color: #fff;
    background-color: #d9534f;
}

.badge.badge-success {
    color: #fff;
    background-color: #5cb85c;
}

.badge.badge-primary {
    color: #fff;
    background-color: #337ab7;
}

.badge.badge-info {
    color: #fff;
    background-color: #5bc0de;
}

.badge.badge-default {
    color: #333;
    background-color: #fff;
}

.padding-small {
    padding: 5px;
}

.padding {
    padding: 15px;
}

.padding-large {
    padding: 30px;
}

.margin-small {
    margin: 5px;
}

.margin {
    margin: 15px;
}

.margin-large {
    margin: 30px;
}

.small-size {
    font-size: 14px;
}

/**
 * TEXT SELECT
 * -----------------------------------------------------------------------------
 */
::-moz-selection {
    background: #56c3da;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #56c3da;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #56c3da;
    color: #fff;
    text-shadow: none;
}

/**
 * CLEARFIX
 * -----------------------------------------------------------------------------
 */
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/**
 * NAVBAR
 * -----------------------------------------------------------------------------
 */
.custom-navbar li {
    cursor: pointer;
}
.navbar-default {
    background: #1A2229;
}
.navbar-brand img,
.main-menu li a img {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 20px;
}
.navbar-brand {
    margin-left: 130px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #eee;
}

.nav-expanded a.nav-expander {
    display: none;
}

a.nav-expander {
    background: none repeat scroll 0 0 transparent;
    color: #00B16A;
    display: block;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    margin-left: 0;
    padding: 1em 1.6em 2em;
    position: absolute;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    transition: left 0.3s ease-in-out 0s;
    width: 130px;
    z-index: 12;

    transition: left 0.3s ease-in-out 0s;
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;

}
a.nav-expander:hover {
    cursor: pointer;
}
a.nav-expander.fixed {
    position: fixed;
}
.nav-expanded a.nav-expander.fixed {
    left: 20em;
}
nav {
    background: #1a2229;
    color: #FFFFFF;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: -20em;
    font-size: 15px;
    top: 0;
    width: 20em;
    z-index: 2000;

    transition: left 0.3s ease-in-out 0s;
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
    left: 0;
}
body.nav-expanded {
    margin-left: 0em;
    transition: left 0.4s ease-in-out 0s;
    -webkit-transition: left 0.4s ease-in-out 0s;
    -moz-transition: left 0.4s ease-in-out 0s;
    -o-transition: left 0.4s ease-in-out 0s;
}
#nav-close {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-right: 10px;
    padding-left: 60%;
}
#nav-close i {
    display: inline;
}
.main-menu {
    padding-top: 12px;
}
.main-menu li {
    border-bottom: 1px solid #ECECEC;
    font-size: 14px;
    padding: 20px;
}
.main-menu>li.active,
.main-menu>li.active>a {
    color: #fff;
    background: -webkit-linear-gradient(90deg, #16A085 10%, #26A65B 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #16A085 10%, #26A65B 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #16A085 10%, #26A65B 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #16A085 10%, #26A65B 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #16A085 10%, #26A65B 90%);
    /* W3C */
}
.main-menu li:first-child {
    line-height: 50px;
    vertical-align: baseline;
}
.main-menu li a {
    color: #a8acb1;
    text-decoration: none;
}
.main-menu>li:not(:first-child):not(.active):hover,
.main-menu>li:not(:first-child):not(.active):hover>a {
    background: #232a2f;
    color: #a8acb1;
    text-decoration: none;
}
.main-menu li .sub-nav {
    border-bottom: 0px;
    padding: 4px;
}
.main-menu a .caret {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #4f5963;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 8px;
}
.main-menu a:hover .caret {
    border-top-color: #4f5963;
}
.main-menu li.open > a > .caret {
    border-top: none;
    border-bottom: 4px solid #4f5963;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.main-menu li.open > a:hover > .caret {
    border-bottom-color: #4f5963;
}
.icon:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    content: '\f105';
}
.main-menu li > a > span.icon {
    float: right;
    margin: 0.1em 1.7em -0.1em 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
.main-menu li > a:hover > span.icon {
    float: right;
    margin: 0.1em 0.8em -0.1em 0;
    opacity: 1;
}

/**
 * LOGIN
 * -----------------------------------------------------------------------------
 */
body.login header.nav {
    display:none;
}
.login {
    width: 100px;
    height: 100px;
    background: url('../images/bg-madera.jpg') no-repeat center;
}
.login .middlePage {
    position: absolute;
    top: 15%;
}
.login .infoConnect {
    color: #fff;
    font-size: 20px;
    background: #1ca1a4;
}
.login .spacing {
    font-size: 12px;
    text-align: center;
    margin: 10px 0 0 0;
}
.login .infoConnect .spacing a {
    color: #fff;
    font-weight: 400;
    font-style: normal;
}
.login .panel-info {
    border-color: #ccc;
}
.login .panel-info .panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.login .panel-info .panel-heading .panel-title {
    display: inline-block;
    color: #fff;
    line-height: 46px;
    height: auto!important;
    padding: 0;
    font-size: 13px;
}
.login .panel-info .panel-heading .panel-title img {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.login .panel-info .panel-heading .panel-title div {
    color: #ccc;
    top: 4px;
    display: inline-block;
    position: relative;
}
.login .panel-info .panel-heading .panel-title div a {
    color: #fff;
}
.login .panel-info .panel-heading .panel-title a {
    font-weight: 400;
    font-style: normal;
}
.login .panel-info .input-group,
.login .panel-info .checkbox,
.login .panel-info .btn {
    margin: 10px 0;
}
.login .panel-info .checkbox,
.login .panel-info .radio {
    display: inline-block;
    margin-right: 10px;
}
.login #submit-login-form,
.login #submit-login-form button {
    width: 100%;
}

/**
 * MAIN
 * -----------------------------------------------------------------------------
 */
#content-wrapper {
    margin: 80px 2px 2px 5px;
}

.list-group .list-group-item.active {
    background-color: #00B16A;
    border-color: #03A678;
}

.product-contain {
    background-color: #eeeeee;
    border-radius: 3px;
    margin: 4px;
}

.footer {
    text-align: center;
}


/**
 * FORM
 * -----------------------------------------------------------------------------
 */
.form-horizontal .control-label {
    text-align: left;
}

.toggleArrow > i {
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
}

.toggle {
    -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#footerForm {
    margin-top: 50px;
    margin-bottom: 50px;
}