<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 main">

            <h2><span class="btn-label glyphicon glyphicon-th" aria-hidden="true"></span> Mes cas cliniques</h2>

            <!--  Bloc 1  -->
            <div class="col-xs-12 col-md-5 playerContent">

                <div class="blocs">
                    <h3><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Comment créer un cas clinique ?</h3>
                    <a class="player" data-toggle="modal" data-target="#commentCreerCas"><img src="images/player.png" alt="" style="width:100%;"></a>
                </div>
                
            </div><!--  Fin Bloc 1  -->

            <!--  Bloc 2  -->
            <div class="col-xs-12 col-md-7 introContent">
                <div class="blocs">

                    <h3><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Créer un nouveau cas</h3>

                    <div class="col-sm-4">
                        <a data-toggle="modal" data-target="#nouveauCas" class="blocBtnCas">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <div class="btn btn-primary btn-labeled"><span class="btn-label glyphicon glyphicon-plus" aria-hidden="true"></span>Nouveau cas</div>
                        </a>
                    </div>

                    <div class="col-sm-8 intro">
                        <p><strong>Bienvenue sur PatientGenesys pour créer vos cas cliniques de consultations virtuelles 3D.</strong></p>
                        <p>Après avoir consulté la vidéo de présentation "Comment créer un cas PatientGenesys", cliquez sur le bouton "Nouveau cas" et laissez vous guider dans les écrans pour remplir toutes les informations et médias nécessaires à la création de votre premier cas clinique.</p>
                        <blockquote class="marginT-30"><strong>Pour préparer la rédaction de votre cas, vous pouvez télécharger et compléter le document :</strong><br><a href="#">Gabarit de rédaction du cas</a>.</blockquote>
                        <!-- <p class="marginT-30"><a href="#" class="btn btn-primary btn-labeled"><span class="btn-label glyphicon glyphicon-download-alt" aria-hidden="true"></span>Gabarit de rédaction du cas</a></p> -->
                    </div>

                </div>

            </div><!--  Fin Bloc 2  -->

        </div><!--  Fin main  -->
    </div><!--  Fin row  -->
</div>