<div class="col-xs-12 col-md-8 col-md-offset-2">

	<div class="panel panel-default">
		<div id="projectHeaderRegion" class="panel-heading"></div>
		<div id="projectContentRegion" class="panel-body"></div>
	</div>

</div>
