<nav class="custom-navbar">
    <ul id="main-menu-navigate" class="list-unstyled main-menu">
        <!--Include your navigation here-->
        <li><a href="#home" class="text-left"><img alt="Madera" src="../images/logo-madera.png">Madera</a> <a href="#" id="nav-close" class="text-right"><i class="fa fa-times"></i></a></li>
        <li class="active"><a href="#home">Accueil</a></li>
        <li><a href="#settings">Espace configuration</a></li>
        <li><a href="#project">Projets / Devis</a></li>
    </ul>
</nav>
 
<div class="navbar navbar-default navbar-fixed-top">
    <!--Include your brand here-->
    <a class="navbar-brand" href="#home"><img alt="Madera" src="../images/logo-madera.png">Madera</a>
    <div class="navbar-header pull-left">
        <a id="nav-expander" class="nav-expander fixed">
            <i class="fa fa-bars fa-lg white"></i>
        </a>
    </div>
</div>