<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 text-center">
					<button type="button" id="create_project" class="btn btn-success btn-custom-light btn-lg btn-lg-max"><i class="fa fa-plus-circle"></i> Créer un devis</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="row">
				<div class="spacing-lg"></div>
			</div>
		</div>

		{{#xif " this.data.numberOfProjects > '6' "}}
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<form id="searchForm">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control input-lg" id="search-devis" placeholder="Rechercher un devis">
							<span class="input-group-btn">
								<button class="btn btn-default btn-lg btn-custom-dark" type="button"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
		{{/xif}}

		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="list-group">
						<a class="list-group-item active text-center">Mes derniers devis</a>
						{{#xif " this.data.lastProjects.length "}}
							<div id="lastProjects"></div>
						{{else}}
							<a class="list-group-item">Aucuns devis récents</a>
						{{/xif}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>