<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-lg btn-success addAnotherProduct">
                <i class="fa fa-plus"></i> Ajouter un autre produit au projet
            </button>
        </div>
        <div class="col-sm-6">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-lg btn-default nextStep">
                <i class="fa fa-arrow-right"></i> Passer à l'étape suivante
            </button>
        </div>
    </div>
</div>