<h2>Création d'un devis</h2>

<p>Pour créer un devis, il vous suffit de cliquer sur le bouton "Créer un devis" et de suivre les étapes une par une.</p>

<h2>Recherche d'un devis</h2>

<p>Pour trouver un devis, il vous suffit de renseigner dans le champ de recherche le numéro de référence ou le nom du projet.</p>